.holder{
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
}
.item{
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 2px solid black;
}
/* Your CSS Code here. */
